<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>StyleVibe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../template/style.css">
  </head>
<body>

<!--Inicio de nabvar-->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">StyleVibe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../../index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../template/Nostros/Sobre_nosotros.html">Acerca de StyleVibe</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Catalogo
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="./Caballero.html">Caballero</a></li>
                      <li><a class="dropdown-item" href="./Damas.html">Damas</a></li>
                      <li><a class="dropdown-item" href="./Niños.html">Niños</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Ayuda</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>

<!--Fin de nabvar-->

<!-- Inicio de tarjetas -->

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="margin: 5px 5px;">
        <div class="card-body">
          <div class="image-container">
            <a class="btn btn-primary btn-hover" href="#" role="button">Agregar al carrito</a>
            <img src="../../files/Damas/Ropa 1.jpg" style="width: 100%;">
          </div>
          <a href="ruta_a_tu_archivo.html">
            <h5 class="card-title">Playera sakura</h5>
          </a>
          <p class="card-text">Q 45</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="margin: 5px 5px;">
        <div class="card-body">
          <div class="image-container">
            <a class="btn btn-primary btn-hover" href="#" role="button">Agregar al carrito</a>
            <img src="../../files/Damas/Ropa 2.jpg" style="width: 100%;">
          </div>
          <a href="ruta_a_tu_archivo.html">
            <h5 class="card-title">Playera sakura</h5>
          </a>
          <p class="card-text">Q 45</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="margin: 5px 5px;">
        <div class="card-body">
          <div class="image-container">
            <a class="btn btn-primary btn-hover" href="#" role="button">Agregar al carrito</a>
            <img src="../../files/Damas/Ropa 3.jpg" style="width: 100%;">
          </div>
          <a href="ruta_a_tu_archivo.html">
            <h5 class="card-title">Playera sakura</h5>
          </a>
          <p class="card-text">Q 45</p>
        </div>
      </div>
    </div>
  </div>
</div>
  
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="margin: 5px 5px;">
        <div class="card-body">
          <div class="image-container">
            <a class="btn btn-primary btn-hover" href="#" role="button">Agregar al carrito</a>
            <img src="../../files/Damas/Ropa 4.jpg" style="width: 100%;">
          </div>
          <a href="ruta_a_tu_archivo.html">
            <h5 class="card-title">Playera sakura</h5>
          </a>
          <p class="card-text">Q 45</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="margin: 5px 5px;">
        <div class="card-body">
          <div class="image-container">
            <a class="btn btn-primary btn-hover" href="#" role="button">Agregar al carrito</a>
            <img src="../../files/Damas/Ropa 5.jpg" style="width: 100%;">
          </div>
          <a href="ruta_a_tu_archivo.html">
            <h5 class="card-title">Playera sakura</h5>
          </a>
          <p class="card-text">Q 45</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="margin: 5px 5px;">
        <div class="card-body">
          <div class="image-container">
            <a class="btn btn-primary btn-hover" href="#" role="button">Agregar al carrito</a>
            <img src="../../files/Damas/Ropa 6.jpg" style="width: 100%;">
          </div>
          <a href="ruta_a_tu_archivo.html">
            <h5 class="card-title">Playera sakura</h5>
          </a>
          <p class="card-text">Q 45</p>
        </div>
      </div>
    </div>
  </div>
</div>
  
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="margin: 5px 5px;">
        <div class="card-body">
          <div class="image-container">
            <a class="btn btn-primary btn-hover" href="#" role="button">Agregar al carrito</a>
            <img src="../../files/Damas/Ropa 1.jpg" style="width: 100%;">
          </div>
          <a href="ruta_a_tu_archivo.html">
            <h5 class="card-title">Playera sakura</h5>
          </a>
          <p class="card-text">Q 45</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="margin: 5px 5px;">
        <div class="card-body">
          <div class="image-container">
            <a class="btn btn-primary btn-hover" href="#" role="button">Agregar al carrito</a>
            <img src="../../files/Damas/Ropa 2.jpg" style="width: 100%;">
          </div>
          <a href="ruta_a_tu_archivo.html">
            <h5 class="card-title">Playera sakura</h5>
          </a>
          <p class="card-text">Q 45</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="margin: 5px 5px;">
        <div class="card-body">
          <div class="image-container">
            <a class="btn btn-primary btn-hover" href="#" role="button">Agregar al carrito</a>
            <img src="../../files/Damas/Ropa 3.jpg" style="width: 100%;">
          </div>
          <a href="ruta_a_tu_archivo.html">
            <h5 class="card-title">Playera sakura</h5>
          </a>
          <p class="card-text">Q 45</p>
        </div>
      </div>
    </div>
  </div>
</div>
  
  <!-- Fin de tarjetas -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>